@import url('https://fonts.googleapis.com/css2?family=Sono&family=Tilt+Neon&display=swap');




body{
    font-family: 'Sono', sans-serif;
    overflow: hidden;
    margin: 0;
    height: 100vh;
    width: 100vw;
    background-color: #cdcdcd;

}
.container{
    position: fixed;
    bottom: 0px;
    opacity: 0%;
    margin: none;
    left: 0px;
    z-index: -1;
}
.container ul{
    list-style-type: none;
    position: relative;
    left: 5px;
    bottom: 7px;
    font-size: 22px;
    margin: none;
    
}

.container ul a{
    text-decoration: none;
    color: black;
}

.box {
    background-color: #2bb5e8;
    height: 75px;
    width: 75px;
    margin: 0;
    bottom: 25px;
    left: 25px;
    position: fixed;
    border-style: solid;
    border-color: #252225;
    border-width: 2.5px;
    text-align: center;
    cursor: pointer;
}
.box .list{
    position: relative;
    text-align: center;
    top: 31%;
    padding: none;
    margin: none;
    font-size: 28px;
    
}
p{
    position: relative;
    left: 18%;
    max-width: 65vw;
    top: 125px;

}

.box.active{
    height: 300px;
    width: 200px;
    transition: .75s;
}
.box.active .list{
    visibility: hidden;
}

.container.active{
    transition: 1s;
    transition-delay: .2s;
    opacity: 100%;
    z-index: 1;
    transform: translateY(-15px);
}
.left-arrow{
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    font-size: 20px;
    z-index: 2;
}
.right-arrow{
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    font-size: 20px;
    opacity: 0%;
    z-index: 1;
    cursor: pointer;
}
.right-arrow.active{
    transform: translateX(-245px);
    opacity: 100%;
    transition: 1s;
    z-index: 2;

}
.left-arrow.active{
    transform: translateX(-245px);
    opacity: 0%;
    transition: 1s;
    z-index: 1;
}
.left-container{
    position: absolute;
    right: 0;
    height: 100vh;
    width: 0px;
    background-color: #2bb5e8;
    z-index: 3;
    border-style: solid;
    border-color: #252525;
    border-width: 0px 0px 0px 1.5px;
    margin: 0;
    opacity: 0%;
    align-items: center;
}
.left-container.active{
    width: 245px;
    transition: 1s;
    opacity: 100%;
}

h3{
    position: absolute;
    left: 50%;
    top: 25px;
    transform: translateX(-50%);
    text-align: center;
    font-size: 35px;
}
.ann{
    position: absolute;
    bottom: 112px;
    left: 40px;
    cursor: context-menu;
    height: 50px;
    width: 200px;

    
}
.turnarrow{
    position: absolute;
    margin: 0;
    font-size: 25px;
    top: 10px;
    transform: scaleX(-1);
}
.smalltext p{
    position: absolute;
    top: -12px;
    left: 25px;
}
.ann.active{
    transform: rotate(-10deg);
    transition: .5s;
}
.ann.inactive{
    transform: rotate(10deg);
    transition: .5s;
}
.colorboard{
    height: 175px;
    position: relative;
    background-color: #555555;
    margin: 10px;
    text-align: center;
    border: solid;
    border-color: #252525;
    opacity: 0%;

}
.colorboard h1{
    font-size: 15px;
}
.colorboard a{
    position: relative;
    z-index: 5;
}
.colorboard a img{
    width: 210px;
    height: 135px;
    opacity: 0%;
    
}
.colorboard.active a img{
    transition: 1s;
    transition-delay: .6s;
    opacity: 100%;
}
.colorboard.active{
    opacity: 100%;
    transition: 1.05s ease;
} 
.colorboard:hover{
    transform: scale(1.01);
}